*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}
.main{
    display: grid;
    grid-template-columns: 20% 80%;
}

/* style Navbar */
.navbar{
    display: flex;
    justify-items: center;
    padding: 2%;
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: gray; 
    overflow: hidden;   
}
.navbar{
    display:grid;
    position: fixed;
    tab-size: 50s0px;
    /* align-items: center; */
}
.profile-pic{
    display: table-row;
    top:25%;
    background-color: whitesmoke;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.nav-list{
    height: auto;
    position: relative;
    list-style: none;
}
.nav-list *{
    font-weight: bold;
}

/* style pages */
.pages{
    margin-left: calc(100vw - 85%);
    width: calc(100vw - 15%);
    height: 100vh;
    position:absolute;
}
.page1, .page2{
    padding: 2%;
    background-color: brown;
    height: 100vh;
}
.links a:hover{
    color: red;
}
.links a{
    color: black;
}
.links{
    left: 80%;
    top:2%;
    position:absolute;
    font-size: 150%;
}



@media only screen and (max-width:800px){
    .navbar{
        font-size: 80%;
    }
}
