:root {
    --prup: #B388F5;
    --prupf: #b488f570;
    --dark: #252525;
    --std: 0.5px solid var(--prupf);
}
html {
    scroll-behavior: smooth;
}
* {
    font-family: Sans-serif, Arial, Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #252525;
    color:#B388F5;
}
.main {
    height: 90vh;
    overflow: wrap;
}
.logo {
    margin-top: 5%;
    margin-inline:auto;
    position: relative;
    width:30vh;
    height:30vh;
    background: linear-gradient(var(--prup), var(--dark));
    border-radius: 50%;
    opacity: 85%;
    z-index: 1;
}
#heading {
    margin-top: -5%;
    position: relative;
    text-align: center;
    font-size: 3em;
    z-index: 2;
}
.desc {
    text-align: center;
    font-size: 2.5em;
    color: white;
}
.desc i{
    color: var(--prup);
    font-weight: bold;
    font-style: normal;
}
#started {
    background-color: var(--prup);
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    color: var(--dark);
    font-weight: bold;
    width: 15em;
}
#get_started:active, #started:active {
    transform: scale(0.95);
}

/* Introduction Page */

.intro {
    padding: 2%;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction:row;
}
.nav {
    padding: 0;
    margin-top:10em;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--prupf);
    height: 35vh;
    width:7vw;
    border-radius: 80px;
}
.home, .view, .info {
    margin: auto;
    flex-direction: row;
    background-color: black;
    width: 7vh;
    height: 7vh;
    border-radius:50% ;
}

/* tp1-2-3-4 styling */

.tp1, .tp2, .tp3, .tp4 {
    position: relative;
    width:100vw;
    left:8vw;
    display: flex;
    justify-content: center;
    margin-right: 10vw;
}
#head {
    background-color: var(--prup);
    font-size: 2em;
    text-align: center;
    position: absolute;
    width: 10em;
    height: 1.5em;
}
#head p{
    margin-top: 0.5em;
    color: var(--dark);
    font-weight:bolder;
}
.current {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    width: 200px;
    top:0
}
#tp {
    background-color: var(--prup);
    position: relative;
    top:100px;
    width: 1.2em;
    border-radius:50%;
}
.tp1 .image, .tp2 .image {
    top:150px;
    border: var(--std);
    position: absolute;
    width:40vw ;
    height: 35vh;
}
.tp2 .image {
    font-size: 2em;;
}
.tp1 .emoji {
    top:150px;
    left:50vw;
    border: var(--std);
    position: absolute;
    width:15vw ;
    height: 25vh;
}

/* tp2 styling */

/* .tp1content {
    position: relative;
    margin-top: 5%;
    height: 70vh;
    min-width: 70vw;
    padding: 2%;
    width: 80vw;
    border: var(--std);
}  */
.tp1content, .tp2content, .tp3content, .tp4content   {
    position: relative;
    margin-top: 5%;
    min-width: 70vw;
    height: 70vh;
    padding: 2%;
    width: 80vw;
    border: var(--std);
} 

.tp1 {
    background-color: black;
}
.tp2 {
    background-color: brown;
}
.tp3 {
    background-color: white;
}