:root {
    --prup: #B388F5;
    --prupf: #b488f5a4;
    --prupd: #4b2d77a4;
    --dark: #252525;

    /* switch between thse two for better styling */
    /* --std: 0.5px solid var(--prupf); */
    --std: none;
    
}
.disable {
    display: none;
}
html {
    scroll-behavior: smooth;
}
* {
    font-family: Sans-serif, Arial, Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #252525;
    color:#B388F5;
    display: grid;
    margin: auto;
    grid-template-areas:'main' 'tp' ;
}
body * {
    scroll-behavior: smooth;
    border: var(--std);
    padding: 2px;
}
#purp-text {
    color: var(--prup);
    font-style: normal;
}
/* main page styling */
.main {
    overflow: auto;
    margin: auto;
    padding-top: 20px;
    height: 970px;
    width: 1700px;
}
.logo img{
    border-radius:50% ;
}
.logo {
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto;
    background: linear-gradient(var(--prup), var(--dark));
    border-radius: 50%;
    opacity: 85%;
}
#heading {
    margin-top: -5%;
    position: relative;
    text-align: center;
    font-size: 3em;
}
.desc {
    text-align: center;
    font-size: 2.5em;
    color: white;
}
.desc i{
    color: var(--prup);
    font-weight: bold;
    font-style: normal;
}
#tpbtn, #get_started {
    background-color: var(--prup);
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    color: var(--dark);
    font-weight: bolder;
    width: 25%;
    font-size: 2em;
}
#get_started:active, #started:active {
    transform: scale(0.95);
}
.tutorial {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 970px;
    max-width: 970px;
    width: 1700px;
    max-width: 1700px;
    margin-inline: auto;
    overflow: hidden;
    margin-top: 2%;
}
/* nav dtyling */ 
.nav {
    display: flex;
    padding: 0;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--prupd);
    margin-top: 100%;
    margin-left: 15%;
    height: 30%;
    width:25%;
    border-radius: 50px;
} 

.home, .view, .info {
    position: relative;
    margin: auto;
    width: 80px;
    align-items: center;
    height: 80px;
    background: var(--purp);
    border-radius: 50%;
    
}
.home img, .view img, .info img {
    background:var(--purp); 
    margin:2px; 
    border-radius: 50%;
}


/* tutorial Page styling */

.tp {
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.tp1, .tp2, .tp3, .tp4, .tp5{
    padding: 10%;
    min-width: 1349px;
}
.headtp {
    background-color: var(--prup);
    padding-top: 1%;
    color: var(--dark);
    font-weight: bolder;
    font-size: 2em;
    font-size: 3em;
    width: 10em;
    height: 1.5em;
}
.navpt {
    margin-top: 3%;
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}
.navpt i {
    color: var(--prup);
    background: var(--prup);
    border-radius: 50%;
    padding: 7px;
}